<html ng-app="inspire">

<head>
	<meta charset="UTF-8">
	<title>Inspire</title>
	<link rel="stylesheet" href="app/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

</head>

<body>
	<div class="container-fluid" ng-controller="ImageController as ic">
	<div class="row bg-full" style="background: url({{ic.imageData.url}}) no-repeat; background-size: cover; height: 100%">
	
	<div class="col-md-8">
		<div class="col-md-12" ng-controller="WeatherController as wc" id="weather">
				<h4>
				<img src="http://image005.flaticon.com/156/svg/130/130671.svg" alt="" style="width:20px">
				<a><span ng-click="wc.showTemp()">{{wc.tempShow}}</span></a>
				</h4>
				<h4>{{wc.weather.weather[0].description}}</h4>
				<h4>{{wc.weather.name}}</h4>	
		</div>
		<div class="col-md-12" ng-controller="TimeCtrl as time" id="timer">
			<p>{{ clock | date:'HH:mm:ss'}}</p>
			<p>{{time.mes}}</p>
		</div>
		<div class="col-md-10 col-md-offset-1" ng-controller="QuoteController as qc" id="quotes">
			<div ng-mouseover="showAuthor = true" ng-mouseleave="showAuthor = fasle"> 
				<p>{{qc.quote.quote}}"</p>
			<div ng-show="showAuthor">
				<p>Author: {{qc.quote.author}}</p>
			</div>	
			</div>
		</div>
	</div>
	<div class="col-md-4" ng-controller="TodoController as tc">
				<div id="tdsection">
		
			<p>{{tc.todos.length}} case to do today </p>
			
			<div id="todolist">
				
            	<p class="todos" ng-repeat="task in tc.todos track by $index">
				<a><img src="http://findicons.com/files/icons/573/must_have/48/delete.png" alt="delete" style="width: 15px;" ng-click="tc.delTask($index)"></a> 
             	{{task}}
			 </div>
			 
			 <div>
				<a><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="tc.addTask(tc.newTask)"></span></a>
				<input type="text" ng-model="tc.newTask" id="tinput">
				
			</div>
		</div>

	</div>
</div>
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="app/init.js"></script>
	<script src="components/weather.js"></script>
	<script src="components/image.js"></script>
	<script src="components/quote.js"></script>
	<script src="components/time.js"></script>
	<script src="components/todo.js"></script>

</body>
</html>